<div class="sections">
  <%= render_flash_messages %>
  <div class="row">
    <div class="col-sm-4">
      <p>Cette app est cool parce que</p>
    </div>
    <div class="col-sm-4">
      <p>Cette app est cool parce que</p>
    </div>
    <div class="col-sm-4">
      <p>Cette app est cool parce que</p>
    </div>
  </div>
</div>